{% extends "back/base.html" %}
{% import "bootstrap/wtf.html" as wtf %} 


{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %} 

    {% block page_content %}
    <div class="page-header">
        <h1>Upload Mode Choose</h1>
    </div>
    <div class="col-md-4">
        <button class="button button1"><a href="{{ url_for('admin.upload_mk') }}"> Markdown Mode</button>
        <button class="button button2"><a href="{{ url_for('admin.upload_text') }}">Text Mode</button>
        <button class="button button1"><a href="{{ url_for('admin.upload_36') }}">36dsj Mode</button>
    </div>
    {% endblock %}

</div>
{% endblock %}