{% extends "back/base.html" %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}BIN - Login{% endblock %}


{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %} 

    {% block page_content %}
    
    <div class="page-header">
        <h1>MarkDown Upload</h1>
    </div>

    <form class="form form-horizontal" enctype="multipart/form-data" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <div class="col-md-4">
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.author) }}
        {{ wtf.form_field(form.article_type) }}
        {{ wtf.form_field(form.scontent) }}
        {{ wtf.form_field(form.file) }}
        {{ wtf.form_field(form.submit) }}

    </div>

    <div class="col-md-4 col-md-offset-1">
        {{ wtf.form_field(form.mkcontent) }}
    </div>

    </form>
    
    <a href="{{ url_for('.jsonfile') }}">BIN</a>
    {% endblock %}

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.html_head() }}
{% endblock %}
