{% extends "back/base.html" %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}BIN - Upload{% endblock %}

{% block head %}

{{ super() }}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>
{% endblock %}

{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %} 

    {% block page_content %}
    
    <div class="page-header">
        <h1> Text Upload Mode</h1>
    </div>

    <div class="col-md-12">
        <form method="post" role="form">
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.author) }}
        {{ wtf.form_field(form.article_type) }}
        {{ wtf.form_field(form.submit) }}
        {{ wtf.form_field(form.review) }}
            <br>
            <br>
            <textarea name='editor' id="content" class="ckeditor" rows="10" cols="80">
            </textarea>
        </form>    
    </div>
    <script type="text/javascript">
CKEDITOR.replace('content', {
    filebrowserUploadUrl: '/back/ckupload/',
});
</script>
    {% endblock %}

</div>
{% endblock %}

