<!DOCTYPE html>
<html>
<title>
    {% block title %}{% endblock %}
</title>

<head>
    {% block head %}
    <meta name="keywords" content="大數據,大數據學習,大數據教程,大數據技術,大數據分析,大數據網框架,大數據平台" />
    <meta name="robots" content="all" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/main.css?v=3">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92622048-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92622048-2');
    </script>

    <!-- google ads -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6431056359253818",
            enable_page_level_ads: true
        });
    </script> 
    {% endblock %}
</head>

<body>
    <div class="page">
        <div class="header">
            <div class="header-brand">
                <span>
                    <a href="{{ url_for('main.home') }}">BIN</a>
                </span>
            </div>
            <div class="header-middle">
                <div class="header-motto">
                    <span>Life would be too smooth if it had no rubs in it</span>
                </div>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="example-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="{{url_for('main.about')}}">關於我們</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.post',name='news')}}">產業資訊</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.post',name='code')}}">技術框架</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.post',name='analysis')}}">數據分析</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('main.post',name='learn')}}">Spark專區</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="header-right"></div>
        </div>
        {% block point %} {% endblock %} {% block content %}
        <div class="slider">
            {% include 'main/_article.like.html' %}
        </div>
        {% endblock %}

    </div>

    <div class="footer">
        <span>Copyright © 2017 BIG DATA INSIGHT Design </span>
    </div>
</body>
<script src="/static/bundle.js"></script>

</html>