<!DOCTYPE html>
<html>
<title>
    Big Data Insight|最全大數據資訊網站
</title>

<head>
    <meta name="keywords" content="大數據,大數據學習,大數據教程,大數據技術,大數據分析,大數據網框架,大數據平台" />
    <meta name="robots" content="all" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/main.css?v=2">
    <link rel="stylesheet" href="/static/css/main2.css?v=2">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/static/more.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-92622048-2', 'auto');
    ga('send', 'pageview');
    </script>
</head>

<body>
    <div class="page">
        <div class="header">
            <div class="header-brand">
                <span><a href="/">BIN</a></span>
            </div>
            <div class="header-middle">
                <div class="header-motto">
                    <span>Life would be too smooth if it had no rubs in it</span>
                </div>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="example-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/aboutus">關於我們</a></li>
                                <li><a href="/post/news">產業資訊</a></li>
                                <li><a href="/post/code">技術框架</a></li>
                                <li><a href="/post/analysis">數據分析</a></li>
                                <li><a href="/post/learn">Spark專區</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="header-right"></div>
        </div>
        <div class="point">
            <div id="homepage-feature" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#homepage-feature" data-slide-to="0" class="active"></li>
                    <li data-target="#homepage-feature" data-slide-to="1"></li>
                    <li data-target="#homepage-feature" data-slide-to="2"></li>
                    <li data-target="#homepage-feature" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="/aboutus">
                            <img src="../static/pic/other/aboutus_1.jpg" alt="OKWU.edu Homepage">
                            <div class="carousel-caption">
                                <span>關於big data insight</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/post/code?pageid=5">
                            <img src="../static/pic/code/5_1.jpg" alt="OKWU Athletics Homepage">
                            <div class="carousel-caption">
                                <span>微信公眾號爬蟲</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/post/code?pageid=4">
                            <img src="../static/pic/code/4_1.jpg" alt="Bartlesville Community Foundation">
                            <div class="carousel-caption">
                                <span>“今日頭條”怎麼計算：“網絡爬蟲+相似矩陣”技術運作流程</span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/post/code?pageid=3">
                            <img src="../static/pic/code/3_1.jpg" alt="Emancipation Stories">
                            <div class="carousel-caption">
                                <span>python中理解字符串和編碼為什麼這麼難</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /.carousel-inner -->
                <!-- Controls -->
                <a class="left carousel-control" href="#homepage-feature" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#homepage-feature" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!-- /#homepage-feature.carousel -->
        </div>
        <div class="content">
            <div class="post" data-ride='post'>
                <div class="article">
                    <div class="a_img">
                        <a href="/aboutus">
                            <img src="../static/pic/other/aboutus_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="a_right">
                        <div class="a_title">
                            <p>About Big Data Insight</p>
                        </div>
                        <div class="a_editor"></div>
                        <div class="a_date"></div>
                        <div class="a_content">
                            <p>在學習大數據的過程中，常常發現一些有趣文章和優秀教程，想好好保存起來， 卻總是缺乏系統性的整理，因此文章保存每每散落在各個角落，每次翻找就像大海撈針一般， 因此做了這個網站</p>
                        </div>
                        <div class="a_tag">
                            <p><a class="btn btn-primary pull-right" href="/aboutus">Read more<span class=""></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="a_img">
                        <a href=../post/code?pageid=21>
                            <img src="../static/pic/21_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="a_right">
                        <div class="a_title">
                            <p>Spark出現，Hadoop必死？Spark才是大數據的未來？ | BIN 大數據</p>
                        </div>
                        <div class="a_editor"></div>
                        <div class="a_date"></div>
                        <div class="a_content">
                            <p>那麼與Hadoop相比，Spark技術如何？現工業界大數據技術都在使用何種技術？</p>
                        </div>
                        <div class="a_tag">
                            <p><a class="btn btn-primary pull-right" href="../post/code?pageid=21">Read more<span class=""></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="a_img">
                        <a href=../post/learn?pageid=20>
                            <img src="../static/pic/20_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="a_right">
                        <div class="a_title">
                            <p>​入行大數據，你的薪酬是多少？ | BIN 大數據</p>
                        </div>
                        <div class="a_editor"></div>
                        <div class="a_date"></div>
                        <div class="a_content">
                            <p>O’ReillyMedia近期發佈了2014大數據行業工資調查報告。該報告訪問了53個國家816名數據領域的工作者。占最大數量的數據類工作是：數據分析師（包括一些編程），統計分析師和相關軟件工程師。</p>
                        </div>
                        <div class="a_tag">
                            <p><a class="btn btn-primary pull-right" href="../post/learn?pageid=20">Read more<span class=""></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="a_img">
                        <a href=../post/learn?pageid=19>
                            <img src="../static/pic/19_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="a_right">
                        <div class="a_title">
                            <p>Spark的現狀與未來發展 | BIN 大數據</p>
                        </div>
                        <div class="a_editor"></div>
                        <div class="a_date"></div>
                        <div class="a_content">
                            <p>對於一個具有相當技術門檻與複雜度的平臺，Spark 從誕生到正式版本的成熟，經歷的時間如此之短，讓人感到驚詫。2009 年，Spark 誕生於伯克利大學 AMPLab，最開初屬於伯克利大學的研究性項目。它於 2010 年正式開源，並於 2013 年成為了 Apache 基金項目，並於 2014 年成為 Apache 基金的頂級項目，整個過程不到五年時間。</p>
                        </div>
                        <div class="a_tag">
                            <p><a class="btn btn-primary pull-right" href="../post/learn?pageid=19">Read more<span class=""></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="a_img">
                        <a href=../post/learn?pageid=18>
                            <img src="../static/pic/18_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="a_right">
                        <div class="a_title">
                            <p>大數據，怎麼搞？ | BIN 大數據</p>
                        </div>
                        <div class="a_editor"></div>
                        <div class="a_date"></div>
                        <div class="a_content">
                            <p>隨著大數據的爆紅，數據分析師這個職位也得到了越來越多的關註，千千萬萬懂些大數據技術的少年們都渴望成為高大上的“大數據科學家”，可是，你們真的準備好了嗎？</p>
                        </div>
                        <div class="a_tag">
                            <p><a class="btn btn-primary pull-right" href="../post/learn?pageid=18">Read more<span class=""></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="a_img">
                        <a href=../post/learn?pageid=17>
                            <img src="../static/pic/17_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="a_right">
                        <div class="a_title">
                            <p>大數據分析：機器學習算法實現的演化(譯） | BIN 大數據</p>
                        </div>
                        <div class="a_editor"></div>
                        <div class="a_date"></div>
                        <div class="a_content">
                            <p>我將會對機器學習算法的不同的實現範式進行講解，既有來自文獻中的，也有來自開源社區里的。首先，這裡列出了目前可用的三代機器學習工具。</p>
                        </div>
                        <div class="a_tag">
                            <p><a class="btn btn-primary pull-right" href="../post/learn?pageid=17">Read more<span class=""></span></a></p>
                        </div>
                    </div>
                </div>
                
                <div id="more" data-num=2>
                </div>
                
                <div>
                    <img id="moreimg"  style="display: none" src="http://files.jb51.net/file_images/article/201401/131415595482666666.gif?201401416130"></img>    
                    <button id="morebtn" class="btn btn-info" data-click='more'>More</button>
                </div>
            </div>

            <div class="slider">
                <div class="article_like">
                    <strong>猜你喜歡</strong>
                    <ul>
                        <li><a href="/post/analysis?pageid=1">
                        作為大數據從業人員，如何寫好一份可堪入目的簡歷?</a></li>
                        <li><a href="/post/code?pageid=2">
                        谷歌微軟等科技巨頭數據科學面試107道真題：你能答出多少？</a></li>
                        <li><a href="/post/code?pageid=3">
                        python中理解字符串和編碼為什麼這麼難</a></li>
                        <li><a href="/post/code?pageid=4">
                        “今日頭條”怎麼計算：“網絡爬蟲+相似矩陣”技術運作流程 </a></li>
                        <li><a href="/post/code?pageid=5">
                        微信公眾號爬蟲</a></li>
                        <li><a href="../aboutus">
                        About Big Data Insight</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span>Copyright © 2017 BIG DATA INSIGHT Design </span>
    </div>

</body>

</html>
