.detail h2:first-child {
  margin-bottom: 50px;
}
.detail p {
  font-size: 16px;
  color: #666;
}
.detail p > strong > span,
.detail p > span > strong {
  font-size: 22px;
  display: block;
  margin: 20px 0;
}
.detail p:last-child {
  margin-top: 40px;
}
.detail p > img,
.detail p > a > img,
.detail center > img {
  margin: 18px 0;
  max-width: 400px;
}
@media (max-width: 768px) {
  .detail h2:first-child {
    font-size: 26px;
  }
  .detail p > img,
  .detail p > a > img,
  .detail center > img {
    margin: 18px 0;
    max-width: 80%;
  }
}
.morediv > img {
  display: block;
  margin: 0 auto;
}
.morediv #morebtn {
  margin: 20px auto;
  display: block;
  max-width: 200px;
  width: 100%;
  height: 40px;
}
.slider-article {
  margin-bottom: 80px;
  max-width: 360px;
  margin-top: 80px;
}
.slider-article ul > li {
  padding: 12px;
}
.mkupload > div:first-child {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px;
}
.mkupload > div:first-child > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
.mkupload > div:last-child img {
  float: left;
  display: block;
  width: 200px;
  height: 180px;
}
.uimg {
  display: block;
  float: left;
  margin-left: -200px;
  margin-top: 156px;
  width: 200px;
  padding: 3px 0;
  text-align: center;
  background-color: rgba(13, 216, 236, 0.73);
  z-index: 10000;
  color: black;
}
.et-navbar {
  min-width: 680px;
}
.et-container {
  width: 100%;
  max-width: 1024px;
  min-width: 680px;
}
.et-table {
  border-right: 1px solid rgba(0, 0, 0, 0.28);
}
.et-column {
  border-top: 1px solid rgba(0, 0, 0, 0.22);
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  font-size: 16px;
  font-weight: bolder;
}
.et-column div {
  display: inline-block;
  width: 60px;
  height: 50px;
  margin: 0;
  padding: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.22);
}
.et-column div:nth-child(4) {
  width: 130px;
}
.et-column div:nth-child(5) {
  width: 180px;
}
.et-column div:nth-child(6) {
  width: 200px;
}
.et-column div:nth-child(7) {
  width: 110px;
}
@media (max-width: 970px) {
  .et-column div:nth-child(6) {
    display: none;
  }
}
.et-article div {
  vertical-align: top;
  height: 120px;
  font-size: 13px;
  font-weight: 400;
}
.et-article div > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.et-article div > img {
  width: 100px;
  height: 80px;
}
