body {
    background-color: rgba(171, 168, 168, 0.22);
}

.container {
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
    background-color: white;
    height:1210px;
/*    background-color: #d9edf7;*/    

}

.container-fluid {
    background-color: #23239a;
    font-size: 16px;

}

.container_p{
    color: #20207b;
    font-weight: bold;
    font-size: 38px;   
}

.a{
    font-size: 15px;
    margin-left: 20px;	
}


/* slider font color*/
.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 16px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: 0px;
}

.navbar-brand {
    padding: 15px 20px;
}


.header {
    clear: both;
    margin: 20px 0 20px;
    width: 100%;
    font-size: 25px;
}

.content {
    margin: 10px 20px;
}

.jumbotron {
    margin-bottom: 18px;
}

.middle {
    margin: 10px 30px;
}

.middle_p{
    font-size: 28px;
    color: #ff5900;
    font-weight: bold;
}

.media:first-child {
    /* margin-top: 0; */
}




.media {
    margin: 20px 10px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom-style: dotted;
    border-bottom-color: rgba(226, 127, 43, 0.38);
}

.m_left {
	margin:0 15px;
}

img.media-object {
    width: 260px;

}



.footer {
    margin: 10px;
}



.btn-primary {
    background-image: linear-gradient(to bottom,#3b33b7 0,#15147b 100%);
}

.media-heading {
    font-size: 30px;
}
