{% extends "post_base.html" %}
    {% block title %}Big Data On learn{% endblock %}
    {% block content %}
    <h1>作為大數據從業人員，如何寫好一份可堪入目的簡歷?</h1>
<p><img alt="screenshot" src="{{url_for('static',filename='pic/learn_1_1.jpg')}}"/></p>
<p>文 | blogchong</p>

<p>近期部門在做人員招聘，所以一直在堅持看簡歷，包括也面了部分相關崗位的候選者，有些感觸還是蠻大的。 </p>

<p>最想吐槽的一個點就是，混了好幾年工作了，真的該好好學學怎麼寫一份讓人看得爽點的簡歷，不讓自己難看，也不讓面試官蛋疼。 </p>

<p>恰巧數據蟲巢讀者私密群中也有童鞋需要去找工作了，而且年後恰是換坑好時節，趁此機會，為這個話題開個單篇吧。 </p>

<p>我先不說專門如何去構造一份簡歷，單純的講述一下作為一個大數據相關崗位的面試官，我是如何去翻閱簡歷的。 </p>

<br>
<p><span style="color: #ff6600;"><strong>通常，候選人簡歷上寫的東西，我或多或少都會問的，當然前提是跟大數據相關項目以及相關技能點。 </strong></span></p>

<p><strong>那這意味著什麼呢?</strong></p>

<p>意味著你寫上去的東西都將會面臨考驗，而如果你面試的是大數據相關的崗位，與大數據相關度不大的相關經歷，就不要多費筆墨了。 </p>

<p>因為這些額外的項目經歷並不會為你額外加分，只會影響面試官查看簡歷的心情，一筆帶過就好了。 </p>

<p>如上所說，既然簡歷上的相關信息面試官都會關注，那麼，什麼東西該往上面放呢?</p>

<p>最基本的要求就是，你能hold住面試官盤問的東西，每一行信息你都需要確認，這些東西我都很熟悉，面試官變著法兒問，我也能變著法兒回答。 </p>

<p>所以，簡歷上的東西並不是多多益善，而是在於在於精，並且在於經得住考驗，這是簡曆書寫的第一要點。 </p>

<br>
<p><span style="color: #ff6600;"><strong>第二，整體信息如何去佈局呢?</strong></span></p>

<p>我一般看大數據相關的簡歷，這幾部分的信息肯定是會關注的：</p>

<p>1 畢業學校以及學歷，對應的專業或者研究方向。 </p>

<p>2 工作年限。 </p>

<p>3 工作經歷，即跳槽史。 </p>

<p>4 項目經歷。 </p>

<p>5 對於自己擅長東西的總結匯總。 </p>

<p>我一般不太關注的東西：</p>

<p>1 自我評價部分，尤其是那種自我感覺良好的書寫，更加負分。 </p>

<p>2 學校獲獎或者各種發表論文的部分，講真，國內論文的水有多深，我真的挺清楚的，當然，你要是能發表個國際公認論文水準的期刊，分分鐘給你加分。 </p>

<p>3 其他諸如什麼籍貫啊、居住地亂七八糟的基礎信息，真的不關心(基礎信息我只關注男女，學歷相關的信息，工作年份)，也沒必要過多寫。 </p>

<br>
<p><strong>欣賞額外的一些信息：</strong></p>

<p>1 除了常規以外的相關優點，當然，前提是你這個優點對應應聘崗位有特別明顯的作用，不然就是顯擺，負分滾粗。 </p>

<p>這點可以舉個簡單例子，如果招聘的爬蟲工程師，應聘者說自己平時沒事就逛逛微博、知乎，當然是用程序，那些地方就跟自己後花園似的，從那些地方獲取的數據一坨又一坨，就只差拿出來賣了。 </p>

<p>這種自己愛折騰的爬蟲工程師，單憑這條技能，分分鐘可以給他的整體評分上揚個30%。 </p>

<p>針對上面這些情況，哪些該詳細寫，哪些該屏蔽應該差不多了吧。 </p>

<br>
<p><strong>當然，對於要寫的東西，面試時其側重點也是不同的。 </strong></p>

<p>比如，對於我現在要招的數據挖掘工程師，我會著重關注其畢業學校以及最高學歷，並且這項將會佔據整體面試評分中不低的評分。 </p>

<br>
<p><strong>因為，作為以算法為核心基礎的數據挖掘工程師，沒有一個好的學校、學歷，以及對口的研究方向做支撐，是很難在理論這塊站得住腳跟的。 </strong></p>

<p>而對於普通的大數據開發工程師或者爬蟲工程師，這塊要求相對就可以放低了，因為大學學的東西對後面所掌握的技能知識影響並沒有想像中大。 </p>

<p>其次，對於公司經歷相對較好的童鞋，公司背景也是小小的加分項，畢竟好公司還是有一定的背書能力的。 </p>

<p>那麼，對於那些公司經歷相對不是那麼耀眼的童鞋，重心需要適當放在項目經驗上，試圖在這塊彌補公司經歷的不足。 </p>

<br>
<p><strong>書寫項目經歷時，注意幾個點：</strong></p>

<p>1 對口項目細寫，把相關的技能都很好的展現出來，當然，前提是不管是項目也好，涉及的技能也好，需要經得起盤問。 </p>

<p>2 盡量的平實的描繪自己在其中的作用，不需要你一個人逆天，但需要你有體現價值的地方。 </p>

<p>3 項目經歷不需要事事都寫上，輕重緩急分清，對口的、參與程度高的適當體現，不重要的，跟你應聘崗位沒啥卵關係的，一筆帶過，這樣會讓面試官更容易找到重點，換言之，也可以把麵試官的注意力圈定在你所擅長的地方，所以，別犯傻。 </p>

<p>4 項目經歷一定要有以下幾部分內容，項目目的、項目流程、時間週期、人員分工、自己的核心重點，所涉及的技術、架構、相關技能，能夠把這些邏輯理清也是個技術活兒。 </p>

<p>對於項目這塊，面試官最喜歡的是找漏子，包括我也是，因為我想看到項目中的一些不足之處，然後想看看你到底會如何處理。 </p>

<p>所以，在準備項目經歷時，對於淌過的坑一定要梳理梳理，此外就是自己查找出相關的漏子，試圖去舉一反三。 </p>

<p>沒有哪個面試官會喜歡不動腦子的候選者，只對做過的東西熟悉，對沒有做過的東西連想法都沒有的人是可怕的。 </p>

<p>除了項目經驗這塊，對於自己所擅長的東西，一定要做一個總結匯總，這是對自己的肯定，也是對面試的尊重，總不能讓面試官去猜你擅長哪些技能吧。 </p>

<p>我一般除了重點會照顧項目經歷之外，對於匯總處的技能點，也會挨個盤查，這種盤查是脫離項目之外的，單純的底層知識積累的考核。 </p>

<p>這塊的匯總同樣的，沒必要把你十八般武藝都放上去，記得放在前頭的一定是對口的、並且是你所熟悉的。 </p>

<p>1 我招大數據相關崗位的，你把java相關技能放在前頭的還能忍，把什麼前端技能寫一大坨，還放第一排的，直接負分滾粗。 </p>

<p>2 別是個技能都寫上精通，你需要確認你是否真的精通，別寫著精通的，我問一個你不懂一個，直接負分滾粗，但你要寫著“了解”級別的，我會認為你不懂很正常。 </p>

<p>所以整個簡歷的書寫，總結起來其實很簡單，別一股腦兒平鋪陳述，重要的是對口，分得清主次，最後，經得住考驗。 </p>

<br>
<p><strong>繞幾句舌：</strong></p>

<p>1 你不懂沒關係，沒有人甚麼都懂，懂該懂的東西就夠了。 </p>

<p>2 但是，如果你說你懂，結果問你你又不懂，那就尷尬了。 </p>

<p>3 如果你真的懂，你要告訴我你懂，你不告訴我你懂，難道讓我去猜，這就尷尬了。 </p>

<p>此外，不建議簡歷造假，在老司機面前很容易出漏子的，出了漏子更是大寫的尷尬。 </p>

<p>當然，如果說你能hold主，你來你上，把我搞定了我就認為它是真的了(假能圓成這樣，說明還是有本事的哈哈，招了也不虧)!< /p>

<br>
<p><strong>最最後說一點，簡歷一定不要弄的太花哨，對的，咱這題圖可不是讓你學習的，反面例子。 </strong></p>
<p>搞技術的把該說的說清楚完事，別淨扯些沒用的，這點特別適合剛畢業的應屆生朋友。 </p>
<p>黃崇遠，花名博客蟲，“數據蟲巢”個人品牌所有者（官網www.mite8.com、公眾號、簡書、博客），近6年的大數據行業經驗，線下組織過大數據技術沙龍，線上授過大數據課，目前於深圳任職於一B輪創業公司大數據主管。 </p>
<p>End.</p>
<p>&nbsp;</p>
<p>轉載請註明來自36大數據（36dsj.com)：<a href="http://www.36dsj.com">36大數據</a> &raquo; <a href="http:/ /www.36dsj.com/archives/77285">作為大數據從業人員，如何寫好一份可堪入目的簡歷?</a></p>
    {% endblock %}