{% extends "post_base.html" %}
    {% block title %}Big Data News{% endblock %}
    {% block content %}
    <h1>微軟要將數據中心放到水下，你怎麼看？</h1>
<p><img alt="screenshot" src="http://127.0.0.1:5000/static/pic/news_2_1.jpg" />
</p>
<br>
<p>當 Sean James 提議微軟應該將它的服務器農場整個的放置到水下時，他的同事有點疑惑。
但對早年曾服役於美國海軍潛艇部隊的 James 來說，將整個數據中心沉沒到水下是完全合理的。
這種策略不僅可以降低昂貴的冷卻成本，還可以減少建造成本。今天大多數新的數據中心都建造在電力廉價，
氣候適宜和土地費用便宜的地方，這通常意味著將數據中心建在遠離人口密集的地區，限制了它的請求響應速度。 </p>
<p>世界將近一半的人口生活在距離海洋 100 公里的範圍內，因此將數據中心建在近海能讓它更靠近想要服務的客戶。 </p>
<p>微軟研究院的工程師在IEEE Spectrum 上發表文章描述了該公司的<a href="http://spectrum.ieee.org/computing/hardware/want-an-energyefficient-data-center-build- it-underwater" target="_blank">水下數據中心計劃Project Natick</a>。 </p>
<p>End.</p>
<p>轉載請註明來自36大數據（36dsj.com)：<a href="http://www.36dsj.com">36大數據</a> &raquo; <a href="http:/ /www.36dsj.com/archives/77880">微軟要將數據中心放到水下，你怎麼看？ </a></p></p>
    {% endblock %}