{% extends "post_base.html" %}
    {% block title %}Big Data news{% endblock %}
    {% block detail %}
    <h1>YouTube利用語音識別和機器學習算法為10億視頻配自動字幕</h1>
<p>​
<img alt="screenshot" src="http://127.0.0.1:5000/static/pic/news_1_1.jpg" /></p>
<p>2009年，YouTube推出了自動字幕生成功能(Automatic captioning service),今日YouTube宣布其已經為10億多字幕配上了自動字幕，而每日全球活躍用戶已達1500萬。團隊將通過提升語言識別，機器學習算法和大數據跟踪來達成這一目標，在英語方面這些努力已經讓自動字幕準確率得到了50%的巨大提升，越來越接近人類翻譯的錯誤率水平。團隊還將為更多語言增加自動字幕識別功能。</p>
<p>End.</p>
<p>轉載請註明來自36大數據（36dsj.com)：36大數據 » YouTube利用語音識別和機器學習算法為10億視頻配自動字幕</p>
    {% endblock %}