{% extends "post_base.html" %}
    {% block title %}Big Data On news{% endblock %}
    {% block detail %}
    <h1>譯：氣候數據只能預測降雨麼？那你就錯了！</h1>
<p><img alt="screenshot" src="http://127.0.0.1:5000/static/pic/news_3_1.jpg" /></p>
<p>天氣狀況與人類息息相關，不管你身處在地球的哪個角落，都無法忽視天氣和氣候給人類生活造成的影響。全球各個地區的氣候有著巨大的差異，然而生活在某個固定區域人可能不會明顯感覺到這種差異。</ p>

<p>天氣和氣候狀況也是影響一個地區經濟的重要因素，氣候一旦出現異常，經濟就可能會受到嚴重的負面影響，比如洪澇災害會損壞重要的基礎設施，而長期不下雨則會發生。</ p>
<p>氣候對社會來說影響巨大。有人甚至認為是敘利亞內戰就是由天氣變化所導致的，美國前任國務卿約翰·克里說：“氣候變化不一定是敘利亞危機的直接導火索，但是很明顯，敘利亞發生的旱災是火上澆油，雪上加霜。“</ p>
<p>因此，關注天氣狀況並不是僅僅為了知道明天應該穿什麼，而是需要公司和企業製定一個長期的計劃，根據天氣數據判斷未來幾週的天氣狀況會對其業務造成什麼樣的影響。 </ p>
<p>眾所周知，英國的連鎖超市樂購（Tesco）就<strong>利用氣候數據預測銷售情況，調整倉庫庫存</ strong>。舉例來說，如果他們接到天氣預報數據說接下來三週會明顯升溫，他們就會檢查倉庫中是否有足夠的烤肉架，防曬霜和冷飲等來滿足消費者的需求。</ p>
</ strong> </ p> </ p> </ p> </ p>
<p>但是2013年之後的幾年，全球氣候變化更加變幻莫測，2014年，2015年，2016年是有記錄以來全球氣溫最高的幾個年份，給人們預測天氣增加了很多不確定因的干擾，給公司營銷方案的製定造成了很大困擾。</ p>
<p> <strong>難以捉摸的氣候造成的負面影響包括：損害基礎設施從而導致供應鏈中斷，惡劣天氣導致農作物收成差，從而導致某些產品供應短缺。</ strong> </ p>
<p>從這種意義上來說，氣候數據不僅僅能夠幫助人們預測災害的發生，還能幫助人們制定合理的方案，以減少突發氣候災害對公司業務所造成的負面影響。</ p>
</ p>影響氣候的數據點數量龐大，想要挨個輸入這些數據點，然後推測出某個地區出現不同天氣得可能性，這無疑是個異常艱鉅的任務，需要消耗無數的人力和能源。 p>
</ p>美國國家海洋和大氣局（NOAA）投入巨資打造克雷（Cray）超級計算機，這種超級計算機的計算速度高達每秒3千萬億次。
<p>要將如此多影響氣候變化的因素考慮在內，必須依靠這種強大的計算力，越來越多的公司和企業也將會依據這些氣候數據來幫助他們提高經營的效率。 </ p>
<p>眾所周知，在公司經營中，<strong>外部影響因素和內部主觀能動同樣重要，天氣和氣候就是外部因素的其中一方面</ strong>。天氣和氣候對每個公司都有一定程度影響，因此我們有必要好好的利用氣候數據來預測天氣狀況，並製定出高效的應對方案。</ p>
<p>“轉自：燈塔大數據;微信：DTbigdata”</ p>
<p>結束。</ p>
<p>轉載請註明來自36大數據（36dsj.com）：<a href="http://www.36dsj.com"> 36大數據</a>＆raquo; <a href="http://www.36dsj.com/archives/77914">譯：氣候數據只能預測降雨麼？那你就錯了！</a> </ p>
    {% endblock %}