<div class="article_like">
    <strong>猜你喜歡</strong>
    <ul>
        <li><a href="{{url_for('.post',name='analysis',pageid='1')}}">
                        作為大數據從業人員，如何寫好一份可堪入目的簡歷?</a></li>
        <li><a href="{{url_for('.post',name='code',pageid='2')}}">
                        谷歌微軟等科技巨頭數據科學面試107道真題：你能答出多少？</a></li>
        <li><a href="{{url_for('.post',name='code',pageid='3')}}">
                        python中理解字符串和編碼為什麼這麼難</a></li>
        <li><a href="{{url_for('.post',name='code',pageid='4')}}">
                        “今日頭條”怎麼計算：“網絡爬蟲+相似矩陣”技術運作流程 </a></li>
        <li><a href="{{url_for('.post',name='code',pageid='5')}}">
                        微信公眾號爬蟲</a></li>
        <li><a href="../aboutus">
                        About Big Data Insight</a></li>
    </ul>
</div>
